*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
}
.calculator{
    
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.calculator h1{
    margin-bottom: 20px;
    font-size: 24px;
    color: #000;
}
.calculator input{
    width: 90%;
    height: 40px;
    padding: 10px;
    border: 1px solid #272222;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px 0;
}
.button{
    margin: 20px 0;
}
.button button{
    width: 20%;
    height: 40px;
    margin: 3px;
    background-color: #eedede;
    border-radius: 5px;
    font-size:25px ;
    cursor: pointer;
    padding: 8px;

}
button:hover{
    background-color: #d3d3d3;
}

.result {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    background-color: #fff; 
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}


@media screen and (max-width: 1199px) and (min-width: 768px) {
    .calculator {
        width: 400px; 
    }
}


@media screen and (max-width: 767px) {
    .calculator {
        width: 90%; 
    }

    .button button {
        width: 22%; 
        font-size: 20px; 
    }

    .calculator h1 {
        font-size: 20px; 
    }

    .calculator input {
        font-size: 14px; 
    }
}


@media screen and (max-width: 480px) {
    .button button {
        width: 30%; 
        font-size: 18px; 
    }

    .calculator {
        width: 100%; 
    }

    .calculator h1 {
        font-size: 18px; 
    }
}